<div class="chat-area">
    <h1>Why is Bill upset?</h1>
    <div class="reason-box" *ngIf="reason">
        <p>{{ reason.text }}</p>
        <button class="mdc-icon-button" (click)="reactToReason(true)">
            <i class="material-icons-outlined" *ngIf="!reaction || reaction.liked == false">thumb_up</i>
            <i class="material-icons" *ngIf="reaction && reaction.liked == true">thumb_up</i>
        </button>
        <button class="mdc-icon-button" (click)="reactToReason(false)">
            <i class="material-icons-outlined" *ngIf="!reaction || reaction.liked == true">thumb_down</i>
            <i class="material-icons" *ngIf="reaction && reaction.liked == false">thumb_down</i>
        </button>
        <p *ngIf="reaction">Liked {{ reaction.liked }}</p>
    </div>
    <div class="why-button">
        <button mat-button color="primary" (click)="getReason()">Why</button>
    </div>
</div>